services:
  traefik:
    image: traefik:v3.6
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${CONTAINER_DATA_ROOT}/config/traefik.yml:/etc/traefik/traefik.yml:ro
      - ${CONTAINER_DATA_ROOT}/config/dynamic:/etc/traefik/dynamic:ro
      - ${CONTAINER_DATA_ROOT}/data/acme.json:/acme.json
    networks:
      - proxy
    logging:
      driver: journald
      options:
        tag: "{{.Name}}"

networks:
  proxy:
    name: halos-proxy-network
    driver: bridge
